<nav id="navbar" class="navbar"><a href="#"></a></nav>

<div class="container">

    <div class="menu">
        <a href="#welcome-section"></a>
        <a href="#about" class="menu-icon fas fa-user"><img src="assets/house-heart-fill.svg"></a>
        <a href="#skills" class="menu-icon fas fa-code"><img src="assets/file-code-fill.svg"></a>
        <a href="#projects" class="menu-icon fas fa-briefcase"><img src="assets/briefcase-fill.svg"></a>
        <a href="#contact" class="menu-icon fas fa-envelope"><img src="assets/file-person-fill.svg"></a>
    </div>
    <div class="portfolio">
        <section class="header">
            <img class="header-img" src="assets/IMG_9058.jpg" alt="" />
            <h1>Drishya Dinesh</h1>
            <h2>web Developer</h2>
            <div class="socials">
                <a href="https://github.com/Drishya-dinesh" target="_blank"><img src="assets/github.svg"></a>
                <a href="https://www.linkedin.com/in/drish-ya-dinesh/" target="_blank"><img
                        src="assets/linkedin.svg"></a>
                <a href="#" target="_blank"><img src="assets/instagram.svg"></a>
            </div>
            <a href="assets/Drishya Dinesh T P (1).pdf" target="_blank" class="cta">Download CV</a>
        </section>

        <div class="content">
            <section class="content-card home" id="welcome-section">
              <div class="home-screen">
                <h1>Hello, I am Drishya</h1>
              </div>
               
            </section>
            <section class="content-card about" id="about">
                <h1>About me</h1>
                <div class="about-item about-me">
                  <p>
                    An aspiring full stack developer to kickstart tech career from India , Now in Toronto.
                    I strongly believe to have a true passion that makes us really satisfies at the end of a day over a place where you constatntly pass your time looking at a clock 
                  </p>
                  <p>
                    I can't say that i am well experienced with technologies,web services and frameworks that makes the job faster and efficient but I am quite impressed by the journey of development,thus I am still learning.
                    Software developement is a vast world,indeed ! and its still expanding. I no longer wish to stay back home and watch the community deliver products and services that proves the advancement of technologies now, rather I'd want to contribute my own to an addition.
                  </p>
                  <p>
                    here I go looking up for opprotunities. 
                  </p>
                    
                </div>
            </section>

            <section class="content-card skills" id="skills">
                <h1>Skills</h1>
                <div class="about-item skills">
                    <div class="skill-container">
                      <div class="skills">
                        <div class="details">
                          <span>HTML</span>
                          <span>75%</span>
                        </div>
                        <div class="bar">
                          <div id="html-bar"></div>
                        </div>
                      </div>
                      <div class="skills">
                        <div class="details">
                          <span>CSS</span>
                          <span>72%</span>
                        </div>
                        <div class="bar">
                          <div id="css-bar"></div>
                        </div>
                      </div>
                      <div class="skills">
                        <div class="details">
                          <span>Python</span>
                          <span>68%</span>
                        </div>
                        <div class="bar">
                          <div id="python-bar"></div>
                        </div>
                      </div>
                      <div class="skills">
                        <div class="details">
                          <span>API</span>
                          <span>56%</span>
                        </div>
                        <div class="bar">
                          <div id="api-bar"></div>
                        </div>
                      </div>
                      <div class="skills">
                        <div class="details">
                          <span>PostgreSQL</span>
                          <span>88%</span>
                        </div>
                        <div class="bar">
                          <div id="postgres-bar"></div>
                        </div>
                      </div>
                  
                    </div>
                  </div>
               
            </section>

            <section class="content-card project" id="projects">

                <h1>projects</h1>
                <div class="col-2 project-list">
                    <div class="project-tile">
                        
                        
                            <div class="project-description">
                                <h3>Sell and Buy</h3>
                              
                                    a market place for selling and buying goods
                            </div>
                      
                    </div>
                    <div class="project-tile">
                        
                        
                        <div class="project-description">
                            <h3>Sell and Buy</h3>
                          
                                a market place for selling and buying goods
                        </div>
                  
                </div>
                <div class="project-tile">
                        
                        
                    <div class="project-description">
                        <h3>Sell and Buy</h3>
                      
                            a market place for selling and buying goods
                    </div>
              
            </div>
            <div class="project-tile">
                        
                        
                            <div class="project-description">
                                <h3>Sell and Buy</h3>
                              
                                    a market place for selling and buying goods
                            </div>
                      
                    </div>
                    </div>
            </section>

            <section class="content-card contact" id="contact">
                <h1>Contact Me</h1>
                <form class="form" id="form" action="https://www.freecodecamp.com/email-submit">
                    <div class="input-box">
                        <input type="text" class="text-input" name="name" placeholder="Name" />
                    </div>
                    <div class="input-box">
                        <input type="email" class="text-input" name="email" id="email" placeholder="Email" />
                    </div>
                    <div class="input-box">
                        <input type="subject" class="text-input" name="subject" id="subject" placeholder="Subject" />
                    </div>
                    <div class="input-box">
                        <textarea name="text" class="message" placeholder="Message..."></textarea>
                    </div>
                    <div class="input-box">
                        <input type="submit" class="submit-btn" id="submit" value="submit" />
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>