*{
  margin: 0;
  padding: 0;
  font-family:'Times New Roman', Times, serif;
  box-sizing: border-box;
}
.container{
  width: 100%;
  height: 100vh;
  background-position: center;
  padding: 10px 5%;
  .profile{
    width: 100%;
    border-radius: 1rem;
    background: #fff;
    border: 1px solid #ececec;
    position: relative;
    .profile-card{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 10px;
      padding: 20px;
      padding-top: 5px;
      .col{
        padding: 10px;
        .name {
          font-size: 36px;
          font-weight: 600;
        }
        .role {
          font-size: 20px;
          color: #9A9CA3
        }
        .info {
          display: flex;
          align-items: flex-start;
          margin-top: 8px;
          img {
            height: 20px;
            margin-right: 10px;
          }
        }
      }
        
        }.col{
          padding: 10px;
          .profile-picture {
            width: 100%;
            height: 100%;
            border-radius:50%;
            position: relative;
            padding: 10px;
              img{
                padding: 10px;
                height: 100%;
                width: 100%; 
              }
            }

        }
        
        }
  
      .navbar {
        display: flex;
        flex-wrap: wrap;
        align-items:center;
        justify-content: space-between;
        ul li{
          display: inline-block;
          margin: 10px 20px;
          list-style: none;
        }
        ul li a{
         text-decoration: none;
         font-size: 18px;
          position: relative;
        }
        button{
          cursor:pointer;
          color:#ffffff;
          outline:none!important;
          transition:.4s ease all;
          background-color:transparent;
          border:none;
          color: #142d4c;
          padding-top: 5px;
          img{
            height: 19px;
          }
          a{
            text-decoration: none;
            color: black;
            padding: 5px;
          }
          img{
            margin-left: 8px  ;
          }
        }
      }
    
.main{
  .summary{
    width: 100%;
    border-radius: 1rem;
    background: #fff;
    border: 1px solid #ececec;
    position: relative;
    .about{
      font-size: 18px;
      font-weight: 600;
    }
  }

  }
  .Skills{
    width: 100%;
    border-radius: 1rem;
    background: #fff;
    border: 1px solid #ececec;
    position: relative;
    .skills-title{
      font-size: 18px;
      font-weight: 600;
    }
    .skills-card{
      box-shadow: 0 2px 8px 0 rgba(99,99,99,.2);
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 20px;
      margin-top: 10px;
      img{
        height: 100px;
      }

    }

  }
  .projects{
    width: 100%;
    border-radius: 1rem;
    background: #fff;
    border: 1px solid #ececec;
    position: relative;
    .project-title{
      font-size: 18px;
      font-weight: 600;
    }
    .project-card{
      box-shadow: 0 2px 8px 0 rgba(99,99,99,.2);
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 20px;
      margin-top: 10px;
      img{
        height: 100px;
      }
      .title{
        font-size: 20px;
        font-weight: 600;
        line-height: 48px;  
      }
      .information{
        opacity: .7;
      }
      .navigation{
        margin-top: 30px;
        margin-bottom: 10px;
        width: 100%;
        position: relative;
        div{
          position: absolute;
          right: 0;
          cursor: pointer;
          color: #142d4c;
          img{
            height: 24px;
          }
        }
        div:hover{
          text-decoration: underline;
        }
      }
    }
  }
  .education{
    width: 100%;
    border-radius: 1rem;
    background: #fff;
    border: 1px solid #ececec;
    position: relative;
    .education-title{
      font-size: 18px;
      font-weight: 600;
    }
    .education-card{
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 10px;
      img{
        height: 55px;
        width: 55px;
        margin-right: 10px;
    }
    .details{
      .details-title{
        font-weight: 600;
        cursor: pointer;
        color: #142d4c;
      }
      .subtitle{
        font-size: 14px;
        color:#9A9CA3;

      }
    }
    
  }
}


}





