<div class="container">
  <div class="profile">
    <div class="profile-card">
      <div class="row">
        <div class="col">
          <div class="name">Drishya Dinesh</div>
          <div class="role"><i>Web Application developer</i></div>
          <div class="info-location">
            <img src="assets/pin-map.svg"> Toronto, Ontario
          </div>
          <div class="info-mail">
            <img src="assets/envelope.svg"><a href="#">drishyadinesh83@gmail.com</a>
          </div>
          <div class="info-phone">
            <img src="assets/telephone.svg"> 437-235-9745
          </div>
          <div class="navbar">
            <ul>
            <li><a href="#"><img src="assets/linkedin.svg"></a></li>
            <li><a href="#"><img src="assets/github.svg"></a></li>
            <li><a href="#"><img src="assets/instagram.svg"></a></li>
            <button><a href="assets/Drishya-112.pdf">Resume<img src="assets/download.svg"></a></button>
          </ul>
          </div>
        </div>
        <div class="col">
            <div class="profile-picture"><img src="assets/profile.JPEG"></div>
        </div>
      </div>
    </div>
    
    
  </div>
  <div class="main">
    <div class="summary inforCard mt-3 px-4 py-3">
      <div class="about">About Me</div>
      <div class="about-description">Self-driven engineer with exceptional 5 years of relevant work experience designing, implementing and maintaining scalable Web Applications with modern tools and technologies including Angular, HTML5, CSS3, Python, relational and non-relational Databases. </div>
    </div>
    <div class="education inforCard mt-3 px-4 py-3">
      <div class="education-title"> Education</div>
      <div class="education-card">
        <img src="assets/cambrian.jpg">
      <div class="details">
        <div class="details-title">Post Graduation Diploma</div>
        <div class="subtitle">Cambrian college of Applied Arts and Technology, Toronto, Canada</div>
       </div>
       </div>
       <div class="education-card">
        <img src="assets/kannurUty.jpg">
        <div class="details">
          <div class="details-title">Bachelor of Science in Computer Science</div>
          <div class="subtitle">Kannur University, Kerala, India</div>
         </div>
       </div>
    </div>
    <div class="projects inforCard mt-3 px-4 py-3">
      <div class="project-title">Projects</div>
      <div class="row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="project-card">
            <div class="d-flex flex-column align-items-center">
              <img class="project-icon" src="assets/angular.png">
              <div class="title">Angular</div>
              <div class="information"></div>
            </div>
            <div class="navigation d-flex align-items-center">
              <div>
                View
                <img src="assets/arrow-right-circle.svg">
              </div>
            </div>
            </div> 
          </div>
          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="project-card">
              <div class="d-flex flex-column align-items-center">
                <img class="project-icon" src="assets/pythonLogo.jpg">
                <div class="title">Python</div>
                <div class="information"></div>
              </div>
              <div class="navigation d-flex align-items-center">
                <div>
                  View
                  <img src="assets/arrow-right-circle.svg">
                </div>
              </div>
              </div> 
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
              <div class="project-card">
                <div class="d-flex flex-column align-items-center">
                  <img class="project-icon" src="assets/flutter.jpg">
                  <div class="title">Flutter</div>
                  <div class="information"></div>
                </div>
                <div class="navigation d-flex align-items-center">
                  <div>
                    View
                    <img src="assets/arrow-right-circle.svg">
                  </div>
                </div>
                </div> 
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="project-card">
                  <div class="d-flex flex-column align-items-center">
                    <img class="project-icon" src="assets/awsCloud.jpg">
                    <div class="title">AWS Cloud</div>
                    <div class="information"></div>
                  </div>
                  <div class="navigation d-flex align-items-center">
                    <div>
                      View
                      <img src="assets/arrow-right-circle.svg">
                    </div>
                  </div>
                  </div> 
                </div>
        </div>
      </div>
    </div>
    <div class="Skills inforCard mt-3 px-4 py-3">
      <div class="skills-title">Skill Set</div>
      <div class="row">
        <div class="col">
          <div class="skills-card">
            <div class="d-flex flex-column align-items-center">
              <img class="skill-icon" src="assets/html.jpg">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="skills-card">
            <div class="d-flex flex-column align-items-center">
              <img class="skill-icon" src="assets/CSS-Logo.jpg">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="skills-card">
            <div class="d-flex flex-column align-items-center">
              <img class="skill-icon" src="assets/ts.jpg">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="skills-card">
            <div class="d-flex flex-column align-items-center">
              <img class="skill-icon" src="assets/postges.jpg">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="skills-card">
            <div class="d-flex flex-column align-items-center">
              <img class="skill-icon" src="assets/JavaScript.jpg">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="skills-card">
            <div class="d-flex flex-column align-items-center">
              <img class="skill-icon" src="assets/git.jpg">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="skills-card">
            <div class="d-flex flex-column align-items-center">
              <img class="skill-icon" src="assets/c.jpg">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="skills-card">
            <div class="d-flex flex-column align-items-center">
              <img class="skill-icon" src="assets/java.jpg">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="skills-card">
            <div class="d-flex flex-column align-items-center">
              <img class="skill-icon" src="assets/net.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
